$view-port-height: 100vh;
$view-port-width: 100vw;

// smallest screen size (xs – extra small)
$screen-xs-max: 576px;
// Small tablets and large smartphones (landscape view)
$screen-sm-max: 768px;
// Small tablets (portrait view)
$screen-md-max: 992px;
// Tablets and small desktops
$screen-lg-max: 1200px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Xtra samll devices
@mixin xs {
  @media (max-width: #{$screen-xs-max}) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

.basic-row {
  margin: 0px;
  width: 100%;
  display: flex;
  align-items: center;
}

.red-header {
  background-color: #9a151a;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  color: white;
}

.todo-logo {
  border-style: none;
  vertical-align: top;
  max-height: 80px;
  width: auto;
}
