.app-frame {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: white;
}

.app-header {
  margin: 0px;
  width: 100%;
  padding-bottom: 8px;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: white;
  flex-wrap: wrap !important;

  .col-header {
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 25px;
  }

  h1 {
    color: white;
  }
}

.basic-row {
  margin: 0px;
  width: 100%;
  display: flex;
  align-items: center;
}

.red-header {
  background-color: #9a151a;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  color: white;
}

.todo-view {
  .card-header {
    @extend .red-header;
  }

  .card-body {
    color: #571b3c;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

.delete-modal {
  .modal-content {
    border: none;
  }

  .modal-header {
    @extend .red-header;
    .close {
      color: white;
    }
  }
}

.todo-logo {
  border-style: none;
  vertical-align: top;
  max-height: 80px;
  width: auto;
}

.home-container {
  margin: 0px;

  .row {
    @extend .basic-row;
    justify-content: center;
  }
}

.not-found-row {
  @extend .basic-row;
  height: 40vh;
  justify-content: center;
}
